body {
    background: linear-gradient(0deg, #004A7F, #0094FF);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
}

a:link { 
    text-decoration:none;
    color: inherit;
}

.Title {
    text-decoration:none;
    color: #000000;
    font-size: 4vh;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

.Welcome {
    color: #000000;
    font-size: 2.5vh;
    font-family: Arial, Helvetica, sans-serif;
}

.logout {
    text-decoration:none;
    border-radius: 10vh;
    margin-top: 2.1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    color: #FFFFFF;
    background: #000000;
    position: absolute;
    top: 9.5vh;
    right: 45vh;
    text-align: right;
    font-size: 2vh;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1s;
}

.logout:hover {
    background: #474747;
}
    
.FormBackground {
    max-width: 60vw;
    background: #f4f7f8;
    margin: 8vh auto;
    padding: 3vh;
    border-radius: 5vh;
}

.button {
    position: relative;
    display: block;
    padding: 1vh;
    color: #FFFFFF;
    margin: 5 auto;
    background: #4d84f7;
    font-size: 3vh;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 0.1vh solid #4d84f7;
	border-radius: 2vh;
    border-width: 0.1vh 0.1vh 0.1vh;
}

.button:hover {
  background-color: #75a2ff;
  border: 0.1vh solid #75a2ff;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.coluna {
    column-count: 2;
	column-gap: 5%;
	width: 100%;
}

label {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border-top: 0.1vh solid #313131;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

legend {
    font-size: 2vh;
    color: #000000;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset {
    padding-block-start: 0.35vh;
    padding-inline-start: 0.75vh;
    padding-inline-end: 0.75vh;
    padding-block-end: 0.625vh;
    border: 0.1vh solid #000000;
    margin-inline-start: 1vh;
    margin-inline-end: 1vh;
}

.Warning_Valid {
    box-shadow: 0.2vh 0.2vh 0.7vh #000000;
    padding-right: 2vh;
    padding-left: 2vh;
    border-radius: 2vh;
    background: #119100;
    color: #FFFFFF;
    font-size: 2vh;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    transition: 2s;
}

.Warning_Valid:hover {
    background: #00ab0b;
    color: #E8E8E8;
}

.Warning_Invalid {
    box-shadow: 0.2vh 0.2vh 0.7vh #000000;
    padding-right: 2vh;
    padding-left: 2vh;
    border-radius: 2vh;
    background: #910000;
    color: #FFFFFF;
    font-size: 2vh;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    transition: 2s;
}

.Warning_Invalid:hover {
    background: #AB0000;
    color: #E8E8E8;
}

#Warning_Caps {
    opacity: 0;
    color: #FF0000;
    font-size: 1.5vh;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

#Warning_Caps:hover {
    color: #F00000;
}

.FormBackground input[type="text"],
.FormBackground input[type="date"],
.FormBackground input[type="number"],
.FormBackground input[type="password"],
.FormBackground input[type="email"],
.FormBackground textarea,
.FormBackground select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: #dedede;
    border: none;
    border-radius: 0.2vh;
    font-size: 2vh;
    margin: 0;
    outline: 0;
    padding: 1vh;
    width: 50%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 0.1vh 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 0.1vh 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 0.6vh;
    transition: width 0.4s ease-in-out;
}

.FormBackground input[type="text"]:focus,
.FormBackground input[type="date"]:focus,
.FormBackground input[type="number"]:focus,
.FormBackground input[type="password"]:focus,
.FormBackground input[type="email"]:focus,
.FormBackground textarea:focus,
.FormBackground select:focus {
    width: 100%;
}

.FormBackground input[type="text"]:hover,
.FormBackground input[type="date"]:hover,
.FormBackground input[type="number"]:hover,
.FormBackground input[type="password"]:hover,
.FormBackground input[type="email"]:hover,
.FormBackground textarea:hover,
.FormBackground select:hover {
    background-color: #ccc;
    width: 100%;
}

table {
    border-spacing: 0.2vh;
}

tr {
    font-size: 2vh;
}

tbody {
    font-size: 2vh;
}